// encryption_key = ""

http {
  bind_address = "127.0.0.1"
  port = 8080 + instance
}

variables {
  instance = env("INSTANCE_NUM", "1")
  nats_addr = "nats://localhost:4222"
}

events {
  type = "nats"
  url = nats_addr
}

cluster {
  environment = "local"

  bind_address = "127.0.0.1"
  bind_port = (3320 + (1 * instance))

  memberlist_bind_address = "127.0.0.1"
  memberlist_bind_port = (3420 + (1 * instance))

  autojoin "nats" {
    url = nats_addr
    subject = "response-cluster"
  }
}

developer {
  profiling = true
}